
      body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      }
      .ex{
        width: 50%;
        height: auto;
        margin:  auto;
        background-color: aquamarine;
        color: black;
        border-radius: 5px;
        padding: 20px;
      }
      .ex h1{
        color: red;
      }
    